@tailwind base;
@tailwind components;
@tailwind utilities;

/* mixhtml */
.mix-error{
    background-color: rgba(255,0,0,0.2);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.mix-fade-out {
    animation: fadeOut 2s ease-out forwards; /* Adjust the duration and timing function as needed */
}
/* end mixhtml */

main{
    @apply px-2;
}
form{
    @apply w-full;
}
input, button{
    @apply w-full h-12 rounded-md outline-none;
}
input{
    @apply px-2 border border-neutral-400;
}